.character-bg {
    left: 3%;
}

.character-bg-one {
    left: 12%;
}

.character-header {
    display: flex;
    justify-content: space-between;
}


.small-ellipse {
    position: relative;
    top: 0px;
    left: -35px;
}

.big-ellipse {
    position: relative;
    top: 15px;
    left: -65px;
}






/* about character section styles */
.character {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.character-footer {
    margin-top: 134px;
}

.character .title-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-box .title {
    color: #456DBB;
    font-size: 24px;
    font-weight: 700;
}

.character-info .description {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.img-two {
    margin-left: -10px;
}



.cloth {
    position: relative;
}

.cloth img {
    position: absolute;
    border-radius: 5px;
    background: #EBF2FF;
    padding: 8px;
}

.cloth .lock {
    left: 28px;
    position: absolute;
}
.images{
    display: flex;
    align-items: center;
}
.cloth p {
    color: #456DBB;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    bottom: -114px;
    position: absolute;
    border-radius: 5px;
    background: #EBF2FF;
    margin-left: -4px;
    padding: 4px 0;
    width: 69px;
}
.cloth-one{
    margin-right: 80px;
}








/* ================ MODAL */


/* Buy modal */
.buy {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.modal-body .buy h2 {
    color: var(--dark-grey, #333);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.modal-body .buy .btn {
    width: 56px;
}

.buy .buttons {
    margin: 0 auto;
    gap: 16px;
}

/* Dont buy modal */
.dont-buy__dialog {
    width: 356px;
}

.dont-buy__dialog .modal-content {
    padding: 32px;
}

.dont-buy__dialog .modal-header {
    padding: 0;
}

.dont-buy__dialog .dont-buy {
    flex-direction: column;
    gap: 34px;
}

.dont-buy__dialog .dont-buy h2 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
}






@media (max-width:1199px) {
    .other-btn {
        display: none;
    }
}
@media (max-width:1200px){
    .title-box .title{
        font-size: 20px;
    }
    .about-character .main-img img{
        padding: 0 90px;
    }
}
@media (max-width:992px){
    .character-info .description{
        font-size: 14px;
    }
    .about-character .images{
        margin-bottom: 150px;
    }
    .about-character .main-img img{
        padding: 0 175px;
    }
}
@media (max-width:768px){
    .about-character .main-img img{
        padding: 0 90px;
    }
}