.tabs-title .nav-link {
    color: #686868;
    font-size: 16px;
    font-weight: 400;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #456DBB;
    font-size: 16px;
    font-weight: 700;    
}
.nav-tabs .nav-link{
    position: relative;
    font-size: 16px;
}
.nav-link:hover{
    border: none;
    background: none;
}

.nav-link.active{
    background: none;
    border: none;
}



.messages .container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.messages-title h2 {
    color: #456DBB;
    font-size: 24px;
    font-weight: 700;
}