:root {
    --dark-grey: #333;
    --gradient: linear-gradient(90deg, #BEFFE8 0%, #80E0FF 100%);
}

/* Core styles */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-decoration: none;
    line-height: 1.2;
}

textarea:focus,
select:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button {
    border: none;
    background: none;
}

input:focus {
    outline: none !important;
}

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.wrapper {
    overflow: hidden;
}

.container {
    padding-left: 0;
    padding-right: 0;
}



/* Header section styles */

.header {
    padding: 24px 0;
    top: 0;
    position: fixed;
    background: #fff;
    width: 100%;
    background-size: 80% 100%;
    background-position: 127px 0px;
    box-shadow: 0px 7px 50px 5px #D7E4FF;
    z-index: 999;
}

.header .navbar {
    z-index: 2;
}

.header-bg__one {
    position: absolute;
    z-index: -1;
    top: -24px;
    left: 262px;
}

.header-bg__two {
    position: absolute;
    bottom: -25px;
    left: 110px;
}









/* ============================= Modal ================================== */
.modal-header {
    border-bottom: none;
    display: block;
}

/* Auth modal */
.auth {
    width: 434px;
}

.login-title {
    color: #456DBB;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.login-body {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.modal-body .email {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forget-button {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
}

.close-btn {
    position: absolute;
    right: 16px;
    top: 16px;
}



.login-body .password {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-body__buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login-body__buttons .link-one {
    color: #456DBB;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #456DBB;
    display: inline-block;
    width: 35%;
    margin: 0 auto;
}

.login-body__buttons .link-two {
    color: var(--dark-grey, #333);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.mt-6 {
    margin-top: 32px;
}

.modal-body input {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    padding: 16px;
}

.modal-body label {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.btn-link {
    color: #456DBB;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline;
}

.register-button {
    margin-top: 24px;
    width: 100%;
    padding: 16px;
}

.register-button .btn {
    width: 100%;
}

.auth-content {
    padding: 32px;
}

.password .password-content {
    padding: 32px 32px 60px 32px;
}





.forget-password .password-content {
    padding: 32px 32px 70px 32px;
}










/* ========================== Forget password modal ===========================*/
.forget-password {
    width: 434px;
}




/* =========================== Rename password modal ================= */
.rename-password {
    width: 430px;
}

.modal-body .password {
    flex-direction: column;
    gap: 16px;
}

.rename-password .modal-content {
    padding: 32px 32px 70px 32px;
}

.modal-body .password .password-number {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.password .password-number>h2 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #d0d0d0;
    padding: 8px;
    border-radius: 5px;
}



/* ================= New password Modal ================= */
.new-password {
    flex-direction: column;
    gap: 32px;
}

.new-pw {
    width: 430px;
}

.new-pw .password-content {
    padding: 32px;
}

.new-password>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}




/* ================ Register modal ================ */
.register-modal {
    width: 830px;
}

.register-modal .register-content {
    padding: 32px 30px;
}

.register-content .modal-body>div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.register-content .email>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-content .email {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.register-content .code>div {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-content .code {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.register-content .email {
    margin-left: 0;
}

.modal-body .name {
    gap: 16px;
}

.forget-button .small-text {
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}
.forget-button .btn{
    width: 185px;
    margin: 0 auto;
}














.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.btn {
    padding: 12px 18px;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: var(--gradient);
    /* button shadow */
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    transition: all .2s linear;
}

.btn:hover {
    background: linear-gradient(90deg, #80E0FF 0%, #BEFFE8 100%);
}

.nav-link {
    padding: 0;
    margin-left: 2rem;
}



/* Main section*/
main {
    margin-top: 156px;
}

/* News section styles */
.title-box .subtitle h5 {
    color: #686868;
    font-size: 14px;
}

.title-box .subtitle span img {
    position: relative;
    top: -2px;
}

.title h3 {
    color: #456DBB;
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}

.row {
    margin-top: 2rem;
}



.date {
    color: #686868;
    font-size: 10px;
    font-weight: 700;
    margin: 8px 0;
    text-align-last: left;
}

.news-info h3 {
    color: #456DBB;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}

.news-info {
    text-align: right;
}

.btn-two {
    width: 170px;
}

.pages {
    margin: 64px auto 64px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .page-number {
    margin-left: 18px;
}

.page .next {
    transform: rotate(180deg);
}

/* Footer section styles */

.footer {
    padding: 64px 0px;
    box-shadow: 0px 7px 50px 5px #D7E4FF;
}





.footer-head {
    width: 100%;
    height: 142px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.footer-box__body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-box__footer {
    margin-top: 64px;
}

.footer-box__footer.socials {
    text-align: right;
}

.footer-box h4 {
    color: #686868;
    font-size: 16px;
    font-weight: 700;
}

.footer-box a {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.footer-box__body p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.support a {
    color: var(--blue, #456DBB);
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #456DBB;
}

.author {
    width: 87px;
    height: 34px;
}

.author a {
    color: #456DBB;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #456DBB;
}

.socials a {
    margin-right: 16px;
}






/* Media query */
@media (min-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width:992px){
    .header .navbar-nav{
        display: flex;
        gap: 8px;
        margin-top: 10px;
    }
    .navbar-collapse .mt{
        margin-top: 20px;
    }
}
@media (min-width:576px) {
    .modal-dialog {
        max-width: 850px;
    }
}

@media (max-width:575px) {
    .col-12 {
        margin-bottom: 1rem;
    }
}

@media (max-width:480px) {
    .login-body__buttons .link-one {
        width: 100%;
    }
}